
/*品牌详情*/
.brand_detail{background:#fff; padding:10px; margin-top:10px; margin-bottom:10px;}
.brand_detail .hd{ overflow:hidden; zoom:1;}
.brand_detail .img_show{float:left; margin-right:10px;}
.brand_detail .img_show img{ width:100px; height:70px; border:1px solid #EEE;}
.brand_detail .tit{font-size:14px; font-weight:bold; padding-bottom:3px;}
.brand_detail .info{color:#999;}
.brand_detail .price{color:#999;padding-bottom:3px;}
.brand_detail .price em{ color:#D71318; font-size:14px; font-weight:bold; }

.brand_company { background: #f9f9f9; border-radius: 5px; border:dashed 1px #d7d7d7; width:100%; padding:10px; margin-top:10px; line-height: 20px; box-sizing: border-box; }
.brand_company p { color: #666666; }
.brand_company strong { font-weight: normal; }

.brand_tab{border-bottom:1px solid #efefef; height:40px; background:#fff; color:#666;}
.brand_tab li{float:left; width:16.666%; height:40px; line-height:40px; text-align:center; font-size:14px; cursor:pointer;}
.brand_tab .on span{ border-bottom:2px solid #459DF5; height:39px; display:inline-block; padding:0 4px; color:#459DF5;}

.brand_tit { border-bottom:1px solid #EDEDED; height: 40px; line-height: 40px; position: relative; }
.brand_tit h2 { margin:0px; line-height: 40px; }
.brand_tit .tit { border-bottom:1px solid #d71318; display:inline-block; font-size:14px; padding: 0 3px 0 0; position:relative; height:40px;}
.brand_cont{ font-size:14px; color:#666; line-height:22px; padding:10px 0;}
.brand_cont p{margin-bottom: 1.5em;}
.brand_cont img{ max-width:100%;}
.index_btn .btn { line-height: 30px; height: 30px; width: 40%; color: #ffffff; background-color: #ff4d4d; font-size:12px; font-weight: normal; font-family: Arial; text-align: center; display: inline-block; text-decoration: none; border-radius: 4px; }
.index_btn .btn_2 { line-height: 30px; height: 30px; width: 40%; color: #ffffff; background-color: #5cb85c; font-size:12px; font-weight: normal; font-family: Arial; text-align: center; display: inline-block; text-decoration: none; border-radius: 4px; }
.index_btn { text-align: center; padding:10px 0;}
.index_message { margin-top: 10px; background-color: #F5F4F4 }


/*在线留言*/
.index_message {background: #fff; margin-bottom: 15px; border-top:2px solid #D6D6D6; overflow:hidden; }
.index_message .mfdh { zoom: 1; padding: 10px 14px 15px 14px;overflow:hidden;  }
.index_message .mfdh li { padding-top: 12px; }
.message_tit { height: 20px; line-height: 20px; font-size: 14px; padding: 10px 15px 0 15px; }
.message_tit span { float: left; font-size:16px; color: #333333;  font-weight: bold; padding-right:5px;}
.message_tit em{ color: #d71318; font-weight: normal; font-size: 12px; }
.index_message .mfdh .name { height: 36px; border: 1px solid #ccc; width: 100%; border-radius: 4px; margin: auto; padding-left: 50px; box-sizing: border-box; }
.index_message .mfdh .txt { float: left; width: 100%; border: 1px solid #ccc; padding: 10px 10px 10px 49px; height: 60px; border-radius: 4px;  box-sizing: border-box;}
.index_message .mfdh .anniu { width: 100%; height: 38px; line-height:38px; border: none; float: left; background: #d71318; font-size:14px; border-radius: 4px; margin-top: 18px; color: #fff; }
.index_message .mfdh .anniu:hover,.index_message .mfdh .anniu:active{background:#B01F24;}
.p-tips { position: absolute; margin-top: 9px; margin-left: 15px; }


/*弹窗在线留言*/
.popup_mask{background-color:rgba(0,0,0,0.5); width:100%; height:100%; position:fixed; left:0; top:0; z-index:9999; display:none;}
.popup{ background:#fff; width:300px; margin:0 auto; position:relative; top:50%; margin-top:-135px; border-radius:5px;}
.popup .hd{ height:38px; line-height:38px; background:#D71318; color:#fff; position:relative; border-radius:5px 5px 0 0;}
.popup .hd .tit{ font-size:16px; padding-left:16px;}
.popup .hd em{ font-size:12px;}
.popup .hd .popup_close{ width:20px; height:20px; overflow:hidden; text-indent:-9999px; background:url(../images/popup_close.png) no-repeat; background-size:contain; position:absolute; top:9px; right:10px;}
.popup .bd{ width:270px; margin:0 auto; padding:15px 0 }
.popup .bd li{ padding-bottom:8px; overflow:hidden; zoom:1; position:relative;}
.popup .bd .label{ position:absolute; left:8px; top:8px;}
.popup .bd .input_bk{ border:1px solid #D6D6D6; padding-left:47px; width:100%; height:35px; line-height:35px; border-radius:3px; box-sizing:border-box;}
.popup .bd .textarea_bk{ border:1px solid #D6D6D6; width:100%; height:60px; line-height:24px; padding:5px 5px 5px 47px; border-radius:3px; box-sizing:border-box;}
.popup .bd .btn{ height:35px; line-height:35px; text-align:center; width:100%; background:#D71318; border-radius:3px; color:#fff; border:none;}
.popup .bd .btn:hover,.popup .bd .btn:active{ background:#B01F24;}

table{ width:100% !important;border-collapse:collapse;}
table th{background:#E73727; font-size:14px; color:#fff; padding:0 10px; height:30px; line-height:20px;}
table td{ text-align:center; font-size:12px; border:1px solid #D6D6D6 !important; padding:5px !important;}
.firstRow{ background-color:#F9F9F9;}


@media only screen and (min-width:1440px) {

}
.join_img li img {
    width: 130px;
    height: 130px;
    float: left;
}
.clear{clear: both;padding: 0px; margin: 0px;}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}