
/* flexslider */
.flexslider{position:relative;height:300px; width: 100%; min-width:1220px; overflow:hidden;background:url(../images/slider/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:300px;  cursor: pointer;}
.flex-control-nav{position:absolute;bottom:0px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 3px;*display:inline;zoom:1; cursor: pointer;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/slider/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:50%; margin-top: -36px;}
.flex-direction-nav li a{display:block;width:45px;height:72px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:50%; margin-left: -655px; background:url(../images/slider/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:50%; margin-right:-655px; background:url(../images/slider/next.png) center center no-repeat;}

